{% extends 'bookstore/index.html' %}

{% block title %}Усі книги{% endblock %}

{% block content %}

<div class="d-flex justify-content-center p-2">
    <form class="col-lg-9 mb-4" role="search" action="" method="get">
        <input type="search" name="search" class="form-control rounded form-control-dark text-primary bg-while" placeholder="Пошук">
    </form>
</div>

{% for author in authors %}

<div class="card">
    <div class="card-body">
        <div class="container">
            <h5 class="card-title">{{author.first_name}} {{author.last_name}}</h5>
            <p class="card-text">{{author.about_author|slice:250}}</p>
            <a class="btn btn-primary" href="{% url 'author_book' author.id %}">Біографія автора</a>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}