{% extends 'bookstore/index.html' %}

{% block title %}Біографія автора{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="container">
            <h5 class="card-title">{{first_name}} {{last_name}}</h5>
            <p class="card-text">{{about_author}}</p>
            <a class="btn btn-primary" href="{% url 'book_list' %}">Список книжок</a>
            <a class="btn btn-primary" href="{% url 'books_author' author_id %}">Усі книги автора</a>
        </div>
    </div>
</div>

{% endblock %}
